.cart-dropdown {
  border: 1px solid black;
  width: 300px;
  height: 400px;
  position: absolute;
  top: 80px;
  right: 30px;
  background-color: white;
  z-index: 5;
  padding: 20px;
  display: flex;
  flex-direction: column;

  .cart-items {
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
  .empty-message {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    height: 100%;
  }
  button {
    margin-top: auto;
  }
}
